__pycache__
checkpoints/*.pth
corpus.pkl
tkn_ids_to_words.pkl
tkn_words_to_ids.pkl
hacker_news_titles
hacker_news_text
wandb
text8

.env


# Python cache files
*.py[cod]
*$py.class


# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
ENV/